<header class="py-1 navbar-dark border-bottom account-header">
    <div class="container">
        <div class=" d-flex justify-content-between">
            <div class="logo-img">
                <a href="#!" class="d-flex align-items-center text-decoration-none">
                    <img src="~/assets/images/logo 1.svg" alt="logo" width="124" height="40" />
                </a>
            </div>
            <div class="d-flex align-items-center">
                <div class="dropdown  account-header-language">
                    <a href="#" class="d-block link-dark text-decoration-none " id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg data-v-043360f4="" viewBox="0 0 60 40" width="22" height="22"><path fill="#F93" d="M0 0h60v40H0z"></path><path fill="#FFF" d="M0 13.3h60v13.3H0z"></path><path fill="#128807" d="M0 26.7h60V40H0z"></path><path fill="#008" d="M30 14.7c-3 0-5.3 2.4-5.3 5.3s2.4 5.3 5.3 5.3 5.3-2.4 5.3-5.3-2.3-5.3-5.3-5.3zm3 8.9c-.1-.1-.2-.1-.3 0-.1.1-.1.2 0 .3-.2.1-.4.3-.7.4 0-.1-.2-.2-.3-.1-.1 0-.2.2-.1.3-.2.1-.5.1-.7.2 0-.1-.1-.2-.3-.2-.1 0-.2.1-.2.3h-.8c0-.1-.1-.2-.2-.3-.1 0-.2.1-.3.2-.3 0-.5-.1-.7-.2 0-.1 0-.3-.1-.3s-.3 0-.3.1c-.2-.1-.4-.2-.7-.4.1-.1.1-.2 0-.3-.1-.1-.2-.1-.3 0-.2-.2-.4-.3-.5-.5.1-.1.1-.2 0-.3-.1-.1-.2-.1-.3 0-.1-.2-.3-.4-.4-.7.1 0 .2-.2.1-.3 0-.1-.2-.2-.3-.1-.1-.2-.1-.5-.2-.7.1 0 .2-.1.2-.3 0-.1-.1-.2-.3-.2v-.8c.1 0 .2-.1.3-.2 0-.1-.1-.2-.2-.3 0-.3.1-.5.2-.7.1 0 .3 0 .3-.1s0-.3-.1-.3c.1-.2.2-.4.4-.7.1.1.2.1.3 0 .1-.1.1-.2 0-.3.2-.2.3-.4.5-.5.1.1.2.1.3 0 .1-.1.1-.2 0-.3.2-.1.4-.3.7-.4 0 .1.2.2.3.1.1 0 .2-.2.1-.3.2-.1.5-.1.7-.2 0 .1.1.2.3.2.1 0 .2-.1.2-.3h.8c0 .1.1.2.2.3.1 0 .2-.1.3-.2.3 0 .5.1.7.2 0 .1 0 .3.1.3s.3 0 .3-.1c.2.1.4.2.7.4-.1.1-.1.2 0 .3.1.1.2.1.3 0 .2.2.4.3.5.5-.1.1-.1.2 0 .3.1.1.2.1.3 0 .1.2.3.4.4.7-.1 0-.2.2-.1.3 0 .1.2.2.3.1.1.2.1.5.2.7-.1 0-.2.1-.2.3 0 .1.1.2.3.2v.8c-.1 0-.2.1-.3.2 0 .1.1.2.2.3 0 .3-.1.5-.2.7-.1 0-.3 0-.3.1s0 .3.1.3c-.1.2-.2.4-.4.7-.1-.1-.2-.1-.3 0-.1.1-.1.2 0 .3l-.5.5zm-2.2-3.1l-.1.1.7.6 1.9 2.1-2.1-1.9-.6-.7-.1.1.6.8 1.3 2.5-1.5-2.3-.4-.9s-.1 0-.1.1l.4.9.6 2.7-.9-2.7-.1-.9h-.1l.1.9-.4 2.8-.2-2.8.1-.9h-.1l-.1.9-.9 2.7.6-2.7.4-.9s-.1 0-.1-.1l-.4.9-1.6 2.2 1.3-2.5.6-.8-.1-.1-.6.7-2.1 1.9 1.9-2.1.7-.6-.1-.1-.8.6-2.5 1.3 2.3-1.5.9-.4s0-.1-.1-.1l-.9.4-2.7.6 2.7-.9.9-.1v-.1l-.9.1-2.9-.3 2.8-.2.9.1v-.1l-.9-.1-2.7-.9 2.7.6.9.4s0-.1.1-.1l-.9-.4-2.2-1.6 2.5 1.3.8.6.1-.1-.7-.6-1.9-2.1 2.1 1.9.6.7.1-.1-.6-.8-1.3-2.5 1.5 2.3.4.9s.1 0 .1-.1l-.4-.9-.6-2.7.9 2.7.1.9h.1l-.1-.9.2-2.8.2 2.8-.1.9h.1l.1-.9.9-2.7-.6 2.7-.4.9s.1 0 .1.1l.4-.9 1.5-2.3-1.3 2.5-.6.8.1.1.6-.7 2.1-1.9-1.9 2.1-.7.6.1.1.8-.6 2.5-1.3-2.3 1.5-.9.4s0 .1.1.1l.9-.4 2.7-.6-2.7.9-.9.1v.1l.9-.1 2.8.2-2.8.2-.7-.1v.1l.9.1 2.7.9-2.7-.6-.9-.4c0 .2 0 .3-.1.4l.9.3 2.3 1.5-2.5-1.3-.7-.5z"></path></svg>
                        <svg width="13" class="drop-down-arrow" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5646 0.296875L6.20007 4.58988L1.83552 0.296875L0.397949 1.71087L6.20007 7.41787L12.0022 1.71087L10.5646 0.296875Z" fill="#2A353A" />
                        </svg>
                    </a>
                    <div class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <div class="lang-wrapper">
                            <div class="title"> Select Your Language</div>
                            <ul class="list">
                                <li>
                                    <a href="javascript:void(0)">
                                        <svg viewBox="0 0 240 160" width="16" height="16"><path fill="#00008B" d="M0 0h240v160H0V0z"></path><path fill="#FFF" d="M78.7 124l-12 1 1.7 12-8.3-8.8-8.3 8.8 1.7-12-12-1 10.4-6.2-6.9-10 11.3 4.3 3.7-11.5 3.7 11.5 11.3-4.3-6.7 10.1 10.4 6.1zM70 24.4V0H50v24.4L13.4 0H0v8.9l26.6 17.7H0v26.7h26.6L0 71.1V80h13.4L50 55.6V80h20V55.6L106.6 80H120v-8.9L93.4 53.3H120V26.7H93.4L120 8.9V0h-13.4L70 24.4zM153.7 71l3.2-4.8-5.4 2-1.8-5.5-1.8 5.5-5.4-2 3.2 4.8-5 2.9 5.7.5-.8 5.7 4-4.2 4 4.2-.8-5.7 5.7-.5-4.8-2.9zm32 50.6l3.2-4.8-5.4 2-1.8-5.5-1.8 5.5-5.4-2 3.2 4.8-5 2.9 5.7.5-.8 5.7 4-4.2 4 4.2-.8-5.7 5.7-.5-4.8-2.9zm-7.1-81.8l-.8 5.7 4-4.2 4 4.2-.8-5.7 5.7-.5-5-2.9 3.2-4.8-5.4 2-1.8-5.5-1.8 5.5-5.4-2 3.2 4.8-5 2.9 5.9.5zM196 83.3l-1.4-3.4-1.4 3.4-3.7.3 2.8 2.4-.9 3.6 3.1-1.9 3.1 1.9-.9-3.6 2.8-2.4-3.5-.3zm23.1-17.9l-5-2.9 3.2-4.8-5.4 2-1.8-5.5-1.8 5.5-5.4-2 3.2 4.8-5 2.9 5.7.5-.8 5.7 4-4.2 4 4.2-.8-5.7 5.9-.5z"></path><path fill="red" d="M54 0h12v32h54v16H66v32H54V48H0V32h54V0zM0 0l40 26.7h-8.9L0 6V0zm120 0h-8.9l-40 26.7H80L120 0zm0 80L80 53.3h8.9L120 74v6zM0 80h8.9l40-26.7H40L0 80z"></path><path stroke="#e0e0e0" fill="none" d="M0 0h120v80H0z"></path></svg>
                                        <span>English (Australia)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="selected">
                                        <svg viewBox="0 0 60 40" width="16" height="16"><path fill="#F93" d="M0 0h60v40H0z"></path><path fill="#FFF" d="M0 13.3h60v13.3H0z"></path><path fill="#128807" d="M0 26.7h60V40H0z"></path><path fill="#008" d="M30 14.7c-3 0-5.3 2.4-5.3 5.3s2.4 5.3 5.3 5.3 5.3-2.4 5.3-5.3-2.3-5.3-5.3-5.3zm3 8.9c-.1-.1-.2-.1-.3 0-.1.1-.1.2 0 .3-.2.1-.4.3-.7.4 0-.1-.2-.2-.3-.1-.1 0-.2.2-.1.3-.2.1-.5.1-.7.2 0-.1-.1-.2-.3-.2-.1 0-.2.1-.2.3h-.8c0-.1-.1-.2-.2-.3-.1 0-.2.1-.3.2-.3 0-.5-.1-.7-.2 0-.1 0-.3-.1-.3s-.3 0-.3.1c-.2-.1-.4-.2-.7-.4.1-.1.1-.2 0-.3-.1-.1-.2-.1-.3 0-.2-.2-.4-.3-.5-.5.1-.1.1-.2 0-.3-.1-.1-.2-.1-.3 0-.1-.2-.3-.4-.4-.7.1 0 .2-.2.1-.3 0-.1-.2-.2-.3-.1-.1-.2-.1-.5-.2-.7.1 0 .2-.1.2-.3 0-.1-.1-.2-.3-.2v-.8c.1 0 .2-.1.3-.2 0-.1-.1-.2-.2-.3 0-.3.1-.5.2-.7.1 0 .3 0 .3-.1s0-.3-.1-.3c.1-.2.2-.4.4-.7.1.1.2.1.3 0 .1-.1.1-.2 0-.3.2-.2.3-.4.5-.5.1.1.2.1.3 0 .1-.1.1-.2 0-.3.2-.1.4-.3.7-.4 0 .1.2.2.3.1.1 0 .2-.2.1-.3.2-.1.5-.1.7-.2 0 .1.1.2.3.2.1 0 .2-.1.2-.3h.8c0 .1.1.2.2.3.1 0 .2-.1.3-.2.3 0 .5.1.7.2 0 .1 0 .3.1.3s.3 0 .3-.1c.2.1.4.2.7.4-.1.1-.1.2 0 .3.1.1.2.1.3 0 .2.2.4.3.5.5-.1.1-.1.2 0 .3.1.1.2.1.3 0 .1.2.3.4.4.7-.1 0-.2.2-.1.3 0 .1.2.2.3.1.1.2.1.5.2.7-.1 0-.2.1-.2.3 0 .1.1.2.3.2v.8c-.1 0-.2.1-.3.2 0 .1.1.2.2.3 0 .3-.1.5-.2.7-.1 0-.3 0-.3.1s0 .3.1.3c-.1.2-.2.4-.4.7-.1-.1-.2-.1-.3 0-.1.1-.1.2 0 .3l-.5.5zm-2.2-3.1l-.1.1.7.6 1.9 2.1-2.1-1.9-.6-.7-.1.1.6.8 1.3 2.5-1.5-2.3-.4-.9s-.1 0-.1.1l.4.9.6 2.7-.9-2.7-.1-.9h-.1l.1.9-.4 2.8-.2-2.8.1-.9h-.1l-.1.9-.9 2.7.6-2.7.4-.9s-.1 0-.1-.1l-.4.9-1.6 2.2 1.3-2.5.6-.8-.1-.1-.6.7-2.1 1.9 1.9-2.1.7-.6-.1-.1-.8.6-2.5 1.3 2.3-1.5.9-.4s0-.1-.1-.1l-.9.4-2.7.6 2.7-.9.9-.1v-.1l-.9.1-2.9-.3 2.8-.2.9.1v-.1l-.9-.1-2.7-.9 2.7.6.9.4s0-.1.1-.1l-.9-.4-2.2-1.6 2.5 1.3.8.6.1-.1-.7-.6-1.9-2.1 2.1 1.9.6.7.1-.1-.6-.8-1.3-2.5 1.5 2.3.4.9s.1 0 .1-.1l-.4-.9-.6-2.7.9 2.7.1.9h.1l-.1-.9.2-2.8.2 2.8-.1.9h.1l.1-.9.9-2.7-.6 2.7-.4.9s.1 0 .1.1l.4-.9 1.5-2.3-1.3 2.5-.6.8.1.1.6-.7 2.1-1.9-1.9 2.1-.7.6.1.1.8-.6 2.5-1.3-2.3 1.5-.9.4s0 .1.1.1l.9-.4 2.7-.6-2.7.9-.9.1v.1l.9-.1 2.8.2-2.8.2-.7-.1v.1l.9.1 2.7.9-2.7-.6-.9-.4c0 .2 0 .3-.1.4l.9.3 2.3 1.5-2.5-1.3-.7-.5z"></path></svg>
                                        <span> English (India)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="selected">
                                        <svg data-v-19d196ea="" viewBox="0 0 240 160" width="16" height="16"><path fill="#00008B" d="M0 0h240v160H0V0z"></path><path fill="#FFF" d="M140 48.8V0h-40v48.8L26.8 0H0v17.9l53.2 35.5H0v53.3h53.2L0 142.1V160h26.8l73.2-48.8V160h40v-48.8l73.2 48.8H240v-17.9l-53.2-35.5H240V53.3h-53.2L240 17.9V0h-26.8L140 48.8z"></path><path fill="red" d="M108 64H0v32h108v64h24V96h108V64H132V0h-24v64zM0 11.9l62.1 41.4H80L0 0v11.9zm160 41.4h-17.9l80-53.3H240l-80 53.3zm80 94.8l-62.1-41.4H160l80 53.3v-11.9zM80 106.7h17.9l-80 53.3H0l80-53.3z"></path></svg>
                                        <span> English (UK)</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="selected">
                                        <svg data-v-19d196ea="" viewBox="0 0 1577 1024" class="icon" width="16" height="16"><defs></defs><path d="M10.376 682.247h1536.63V1024H10.376V682.247z" fill="#FBDA00"></path><path d="M10.376 341.753h1536.63v341.753H10.376V341.753z" fill="#DE3A37"></path><path d="M10.25 0h1536.504v341.753H10.25V0z" fill="#221714"></path></svg>
                                        <span> Deutsch</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="selected">
                                        <svg data-v-19d196ea="" viewBox="0 0 3 2" width="16" height="16"><path fill="#ED2939" d="M0 0h3v2H0z"></path><path fill="#fff" d="M0 0h2v2H0z"></path><path fill="#002395" d="M0 0h1v2H0z"></path></svg>
                                        <span> Français</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" class="selected">
                                        <svg data-v-19d196ea="" viewBox="0 0 3 2" width="16" height="16"><path fill="#009246" d="M0 0h1v2H0z"></path><path fill="#fff" d="M1 0h1v2H1z"></path><path fill="#ce2b37" d="M2 0h1v2H2z"></path></svg>
                                        <span> Italiano</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dropdown account-header-notification">
                    <a href="#" class="d-block link-dark text-decoration-none " id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 12.2266V8.64062C16 5.42362 13.815 2.71362 10.855 1.89862C10.562 1.16062 9.846 0.640625 9 0.640625C8.154 0.640625 7.438 1.16062 7.145 1.89862C4.185 2.71462 2 5.42362 2 8.64062V12.2266L0.293001 13.9336C0.199958 14.0263 0.126171 14.1365 0.0758854 14.2579C0.0256001 14.3792 -0.000189449 14.5093 1.04767e-06 14.6406V16.6406C1.04767e-06 16.9058 0.105358 17.1602 0.292894 17.3477C0.480431 17.5353 0.734785 17.6406 1 17.6406H17C17.2652 17.6406 17.5196 17.5353 17.7071 17.3477C17.8946 17.1602 18 16.9058 18 16.6406V14.6406C18.0002 14.5093 17.9744 14.3792 17.9241 14.2579C17.8738 14.1365 17.8 14.0263 17.707 13.9336L16 12.2266ZM16 15.6406H2V15.0546L3.707 13.3476C3.80004 13.2549 3.87383 13.1447 3.92412 13.0234C3.9744 12.9021 4.00019 12.772 4 12.6406V8.64062C4 5.88363 6.243 3.64062 9 3.64062C11.757 3.64062 14 5.88363 14 8.64062V12.6406C14 12.9066 14.105 13.1606 14.293 13.3476L16 15.0546V15.6406ZM9 20.6406C9.6193 20.6414 10.2235 20.4492 10.7285 20.0908C11.2335 19.7324 11.6143 19.2255 11.818 18.6406H6.182C6.38566 19.2255 6.76648 19.7324 7.27151 20.0908C7.77654 20.4492 8.3807 20.6414 9 20.6406Z" fill="#2A353A" />
                        </svg>
                        <span class="header-badge">4</span>
                        <svg width="13" class="drop-down-arrow" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5646 0.296875L6.20007 4.58988L1.83552 0.296875L0.397949 1.71087L6.20007 7.41787L12.0022 1.71087L10.5646 0.296875Z" fill="#2A353A" />
                        </svg>
                    </a>
                    <div class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <h5 class="m-0 title"><span class="float-end"><a href="" class="text-dark"><small>Clear All</small></a></span>Notification</h5>
                        <ul>
                            <li><a class="dropdown-item" href="#">New user registered.<small>5 hours ago</small></a></li>
                            <li><a class="dropdown-item" href="#">Cristina Pride<small>Hi, How are you? What about our next meeting</small></a></li>
                            <li><a class="dropdown-item" href="#">Your order is placed <small>Dummy text of the printing and industry.</small> </a></li>
                            <li><a class="dropdown-item" href="#">Resport created successfully<small>29 July 2020 - 02:26 PM</small></a></li>
                        </ul>
                    </div>
                </div>
                <div class="dropdown text-end  account-header-customer-details">
                    <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="~/assets/images/user-profile-pic.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        <label class="">@(Session["UserFullName"]?.ToString()??"")</label>
                        <svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5646 0.296875L6.20007 4.58988L1.83552 0.296875L0.397949 1.71087L6.20007 7.41787L12.0022 1.71087L10.5646 0.296875Z" fill="#2A353A" />
                        </svg>
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        @*<li><a class="dropdown-item" href="#">New project...</a></li>*@
                        <li><a class="dropdown-item" href="@Url.Action("company_details","Home")">Settings</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("UserAccess","Configuration")">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("LogOut","Login")">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="navbar-header-sec bg-white">
    <div class="container">
        <div class="header-container">
            <div class="nav-bar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("DashBoard","Home")">
                            <span class="d-flex align-items-center stock">
                                <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 5.66667L7 1L13 5.66667V13C13 13.3536 12.8595 13.6928 12.6095 13.9428C12.3594 14.1929 12.0203 14.3333 11.6667 14.3333H2.33333C1.97971 14.3333 1.64057 14.1929 1.39052 13.9428C1.14048 13.6928 1 13.3536 1 13V5.66667Z" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M5 14.3327V7.66602H9V14.3327" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                            <span class="menu-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-flex align-items-center">
                                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.173656 0.209473C0.0021439 0.403852 -0.0207244 0.964125 0.013578 7.14999L0.0478804 13.8847L0.310865 14.4335C0.459509 14.7308 0.76823 15.131 0.996913 15.314C1.8316 16 1.80874 16 10.1328 16C15.1524 16 17.8051 15.9543 17.9537 15.8857C18.2053 15.7484 18.251 15.1539 18.0338 15.0052C17.9537 14.9595 14.352 14.8909 10.0299 14.8566C2.27753 14.7994 2.17463 14.7994 1.85447 14.5593C1.68296 14.4221 1.43141 14.1477 1.30563 13.9304C1.08839 13.5531 1.07695 13.3015 1.04265 6.90987C1.01978 0.861217 0.996913 0.266643 0.825401 0.129434C0.562416 -0.0649471 0.402338 -0.042078 0.173656 0.209473Z" fill="#2A353A" />
                                    <path d="M11.6201 3.62854C11.3686 3.90296 11.38 4.14308 11.6316 4.37176C11.8145 4.53184 12.1232 4.56614 13.5525 4.56614H15.2562L13.3467 6.47564L11.4258 8.39657L9.79068 6.76149C8.88739 5.86963 8.07556 5.13785 7.98409 5.13785C7.75541 5.13785 3.42188 9.49425 3.42188 9.72293C3.42188 9.94018 3.77633 10.2832 3.99358 10.2832C4.08505 10.2832 4.99978 9.43708 6.04029 8.39657L7.93835 6.52138L9.61917 8.11072C10.5339 8.99115 11.3572 9.7115 11.4372 9.7115C11.5172 9.7115 12.5806 8.72816 13.7926 7.51614L15.9994 5.32079V7.03591C15.9994 8.61382 16.0223 8.7739 16.2281 8.96828C16.4225 9.13979 16.5025 9.15122 16.7426 9.04832L17.0285 8.91111V6.29269C17.0285 3.81149 17.0171 3.65141 16.8112 3.53707C16.674 3.46846 15.6221 3.42273 14.1928 3.42273C12.0203 3.42273 11.7917 3.4456 11.6201 3.62854Z" fill="#2A353A" />
                                </svg>
                            </span>
                            <span class="menu-text">Sales</span>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("SetUpCustomer","Sales")">Customer</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("SalesEstimatesHistory","Sales")">Sales Estimates</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("SalesOrderHistory","Sales")">Sales Orders</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("SalesInvoiceHistory","Sales")">Invoice</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("RecurringInvoiceHistory","Sales")">Recurring Invoice</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("SalesCreditNotesHistory","Sales")">Credit Notes</a></li>
                            </ul>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-flex align-items-center">
                                <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.12886 0.125286C4.76689 0.495822 3.95572 1.71759 3.95572 3.39001V3.98086L2.46356 4.0109C0.831202 4.04095 0.680985 4.09102 0.210304 4.73195C0.0100145 5.00234 0 5.12251 0 9.37867C0 13.6448 0.0100145 13.765 0.210304 14.2157C0.49071 14.8165 1.14165 15.4675 1.74252 15.7479C2.19317 15.9482 2.34339 15.9582 6.65963 15.9882C11.8571 16.0283 12.0174 16.0083 12.8786 15.2271C13.86 14.3458 13.82 14.5962 13.85 9.49884C13.8701 5.21264 13.8701 5.03238 13.6798 4.72193C13.2992 4.11105 13.0889 4.04095 11.4065 4.0109L9.88429 3.97085L9.84423 3.00946C9.79416 1.84778 9.6139 1.42717 8.87283 0.766213C8.52232 0.44575 8.20186 0.26549 7.78125 0.145315C7.10027 -0.04496 6.7798 -0.04496 6.12886 0.125286ZM8.08169 1.34705C8.70258 1.77768 8.96296 2.3485 8.96296 3.25982V3.99088H6.90999H4.85702V3.54022C4.85702 1.91788 5.72828 0.93646 7.09025 1.01657C7.52087 1.0366 7.76122 1.11672 8.08169 1.34705ZM3.95572 6.32425C3.95572 7.536 3.97575 7.68622 4.15601 7.84645C4.32626 7.99667 4.39636 8.00668 4.60666 7.91655C4.85702 7.79638 4.85702 7.79638 4.85702 6.39435V4.99232H6.90999H8.96296V6.32425C8.96296 7.536 8.98299 7.68622 9.16325 7.84645C9.3335 7.99667 9.4036 8.00668 9.6139 7.91655C9.86426 7.79638 9.86426 7.79638 9.86426 6.39435V4.99232H11.3063C12.4079 4.99232 12.7685 5.02237 12.8586 5.13253C12.9487 5.23267 12.9688 6.40436 12.9487 9.47881L12.9187 13.6849L12.6182 14.1155C12.458 14.3458 12.1175 14.6463 11.8772 14.7765L11.4365 15.0068H6.97008C2.84411 15.0068 2.47358 14.9868 2.09303 14.8165C1.55224 14.5662 1.08156 13.9853 0.951376 13.3845C0.891289 13.094 0.851231 11.3816 0.851231 9.16836C0.851231 5.95371 0.87126 5.40292 1.01146 5.21264C1.15167 5.00234 1.23178 4.99232 2.56371 4.99232H3.95572V6.32425Z" fill="#2A353A" />
                                </svg>
                            </span>
                            <span class="menu-text">Purchase</span>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("set_up_vendor","Purchases")">Vendors</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("PurchaseOrderHistory","Purchases")">Purchase Order</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("BillHistory","Purchases")">Bills</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("PurchaseCreditNotesHistory","Purchases")">Vendor Credit </a></li>
                                <li><a class="dropdown-item" href="@Url.Action("RecurringBillsHistory","Purchases")">Recurring Bills</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("ExpenseHistory","Purchases")">Expense</a></li>
                            </ul>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Product_and_Service","Home")">
                            <span class="d-flex align-items-center stock">
                                <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.09279 1.3955L15.0379 4.36805C15.2855 4.4911 15.4939 4.68078 15.6396 4.91577C15.7853 5.15077 15.8626 5.42175 15.8628 5.69826V12.7804C15.8626 13.0569 15.7853 13.3278 15.6396 13.5628C15.4939 13.7978 15.2855 13.9875 15.0379 14.1106L9.09279 17.0831C8.8863 17.1864 8.65858 17.2402 8.42768 17.2402C8.19679 17.2402 7.96906 17.1864 7.76258 17.0831L1.81749 14.1106C1.57012 13.9859 1.3625 13.7946 1.21806 13.5583C1.07362 13.3219 0.998108 13.0499 1.00004 12.7729V5.69826C1.00018 5.42175 1.07746 5.15077 1.22318 4.91577C1.36891 4.68078 1.57729 4.4911 1.82492 4.36805L7.77001 1.3955C7.97553 1.29338 8.2019 1.24023 8.4314 1.24023C8.66089 1.24023 8.88727 1.29338 9.09279 1.3955Z" stroke="#2A353A" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M1.23828 4.89648L8.43184 8.49326L15.6254 4.89648" stroke="#2A353A" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M8.43164 17.2315V8.49219" stroke="#2A353A" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M4.71484 2.91992L12.1462 6.6356" stroke="#2A353A" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                            <span class="menu-text">Products & Service</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("banking_dashboard","Banking")">
                            <span class="d-flex align-items-center">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.1 2.15C0.35 4.28 0 4.53 0 5.03C0 5.33 0.27 5.75 0.55 5.88C0.74 5.97 2.65 6 8.05 6H15.28L15.59 5.74C15.85 5.53 15.9 5.41 15.9 5.07C15.9 4.84 15.83 4.57 15.76 4.47C15.69 4.38 14.08 3.42 12.19 2.34C8.6 0.29 8.06 0 7.93 0C7.89 0.0100002 6.16 0.97 4.1 2.15ZM11.52 3.05L14.95 5H12.28H9.6L9.66 4.57C9.87 3.03 8.34 2.01 7.02 2.82C6.53 3.12 6.27 3.71 6.32 4.42L6.36 5H3.71C2.26 5 1.09 4.98 1.11 4.96C1.24 4.83 7.87 1.11 7.97 1.1C8.04 1.1 9.64 1.98 11.52 3.05ZM8.51 3.69C8.68 3.82 8.74 3.98 8.74 4.25C8.74 4.7 8.43 5 7.98 5C7.62 5 7.2 4.6 7.2 4.25C7.2 3.64 8.02 3.29 8.51 3.69Z" fill="#2A353A" />
                                    <path d="M2.00044 8.96V10.92L1.75044 11.12C1.45044 11.35 1.43044 11.61 1.68044 11.83C1.85044 11.98 2.43044 12 7.94044 12C11.9304 12 14.0804 11.96 14.2104 11.9C14.5004 11.74 14.4704 11.23 14.1504 11.08L13.9004 10.97V8.98V7H13.4504H13.0004V9V11H11.7004H10.4004V9V7H9.95045H9.50044V9V11H7.95044H6.40044V9V7H5.95044H5.50044V9V11H4.20044H2.90044V9V7H2.45044H2.00044V8.96Z" fill="#2A353A" />
                                    <path d="M0.97945 13.11C0.72945 13.25 0.73945 13.76 0.98945 13.9C1.11945 13.96 3.50945 14 8.03945 14C14.1295 14 14.8995 13.98 15.0395 13.84C15.2395 13.64 15.2395 13.36 15.0395 13.16C14.8995 13.02 14.1295 13 8.01945 13C3.53945 13.01 1.08945 13.04 0.97945 13.11Z" fill="#2A353A" />
                                    <path d="M0.169851 15.18C-0.0501492 15.42 -0.0401492 15.63 0.179851 15.83C0.349851 15.99 1.02985 16 7.93985 16C12.9699 16 15.5799 15.97 15.7099 15.9C15.9699 15.76 15.9699 15.24 15.7099 15.1C15.5799 15.03 12.9599 15 7.91985 15C0.689851 15 0.319851 15.01 0.169851 15.18Z" fill="#2A353A" />
                                </svg>
                            </span>
                            <span class="menu-text">Banking</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="javascript:void(0)" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-flex align-items-center stock">
                                <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.01348 1.03516H5.58608C2.76733 1.03516 1 3.03074 1 5.85591V13.4771C1 16.3023 2.75908 18.2978 5.58608 18.2978H13.6748C16.5027 18.2978 18.2618 16.3023 18.2618 13.4771V9.78478" stroke="#2A353A" stroke-linecap="round" stroke-linejoin="round" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.57059 8.48961L13.4209 1.63938C14.2743 0.786875 15.6576 0.786875 16.511 1.63938L17.6266 2.75496C18.48 3.60838 18.48 4.99255 17.6266 5.84505L10.7433 12.7283C10.3702 13.1014 9.86415 13.3113 9.33615 13.3113H5.90234L5.98851 9.84631C6.00134 9.33661 6.20942 8.85081 6.57059 8.48961Z" stroke="#2A353A" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M12.3809 2.69727L16.5664 6.88277" stroke="#2A353A" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                            <span class="menu-text">Adjustments</span>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="@Url.Action("JournalsHistory","Adjustment")">Journal</a></li>
                                <li><a class="dropdown-item" href=".@Url.Action("SubLedgerTransfer","Adjustment")">Sub Ledger Transfer</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("ContraEntry","Adjustment")">Contra Entry</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("CurrencyAdjustment","Adjustment")">Currency Adjustment</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("ProfitTransfer","Adjustment")">Profit Transfer</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("RollbackTransaction","Adjustment")">Rollback Transaction</a></li>
                            </ul>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("reports","Reports")">
                            <span class="d-flex align-items-center stock">
                                <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1372 1.00979H4.34105C2.52891 1.00282 1.0435 2.4473 1.00081 4.25855V13.5918C0.960727 15.4328 2.42002 16.9582 4.2609 16.9992C4.2879 16.9992 4.31404 17 4.34105 16.9992H11.3012C13.1255 16.9251 14.563 15.418 14.5499 13.5918V5.60632L10.1372 1.00979Z" stroke="#2A353A" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M9.9082 1V3.53436C9.9082 4.77149 10.9083 5.77426 12.1455 5.77775H14.5457" stroke="#2A353A" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M9.74558 11.9824H5.04102" stroke="#2A353A" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M7.96092 8.7168H5.03711" stroke="#2A353A" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                            <span class="menu-text">Reports</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("BusinessCalender","Configuration")">
                            <span class="d-flex align-items-center stock">
                                <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.5901 5.44952L15.0719 4.55047C14.6337 3.78974 13.6623 3.52731 12.9005 3.96381C12.5379 4.17742 12.1052 4.23802 11.6979 4.13226C11.2905 4.02649 10.942 3.76304 10.7291 3.4C10.5921 3.16925 10.5186 2.90641 10.5157 2.63809C10.5281 2.2079 10.3658 1.79103 10.0658 1.48244C9.76584 1.17385 9.35373 0.999817 8.92339 1H7.87958C7.45798 0.999992 7.05369 1.168 6.75628 1.46685C6.45886 1.76571 6.29279 2.17075 6.29482 2.59238C6.28232 3.46288 5.57303 4.16199 4.70244 4.1619C4.43411 4.15911 4.17129 4.08552 3.94053 3.94857C3.17875 3.51207 2.20741 3.7745 1.7691 4.53524L1.21291 5.44952C0.775127 6.2093 1.03399 7.18004 1.79196 7.62097C2.28464 7.9054 2.58815 8.43113 2.58815 8.99998C2.58815 9.56891 2.28464 10.0946 1.79196 10.3791C1.03496 10.817 0.77581 11.7854 1.21291 12.5428L1.73863 13.4496C1.94399 13.8201 2.28856 14.0936 2.69608 14.2094C3.10361 14.3252 3.54049 14.2739 3.91005 14.0667C4.27335 13.8547 4.70628 13.7966 5.11261 13.9054C5.51894 14.0141 5.865 14.2806 6.07386 14.6457C6.21082 14.8765 6.28441 15.1393 6.2872 15.4077C6.2872 16.2871 7.00017 17 7.87958 17H8.92339C9.79988 17 10.5116 16.2917 10.5157 15.4152C10.5137 14.9923 10.6809 14.5861 10.98 14.287C11.279 13.9879 11.6852 13.8208 12.1082 13.8229C12.3759 13.83 12.6376 13.9033 12.87 14.0362C13.6298 14.474 14.6006 14.2151 15.0415 13.4571L15.5901 12.5428C15.8024 12.1784 15.8607 11.7443 15.752 11.3367C15.6433 10.9292 15.3766 10.5818 15.011 10.3714C14.6454 10.1611 14.3787 9.81363 14.27 9.4061C14.1613 8.99856 14.2197 8.56448 14.432 8.19998C14.57 7.95892 14.77 7.75906 15.011 7.62097C15.7644 7.18028 16.0227 6.21521 15.5901 5.45715V5.44952Z" stroke="#2A353A" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M8.40523 11.1933C9.6171 11.1933 10.5995 10.2109 10.5995 8.99898C10.5995 7.78711 9.6171 6.80469 8.40523 6.80469C7.19336 6.80469 6.21094 7.78711 6.21094 8.99898C6.21094 10.2109 7.19336 11.1933 8.40523 11.1933Z" stroke="#2A353A" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </span>
                            <span class="menu-text">Configuration</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="create-quote">
                <div class="quote-list">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle text-decoration-none create_button" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/assets/images/addicon.svg" alt="Trazel" width="24" height="24" />
                            <span class="">Create</span>
                        </a>
                        <ul class="dropdown-menu">
                            <table>
                                <tr>
                                    <th><span class="create_th_heading">Sales & Receipt</span></th>
                                    <th><span class="create_th_heading">Purchase & Payment</span></th>
                                    <th><span class="create_th_heading">More...</span></th>
                                </tr>
                                <tr>
                                    <td><a class="dropdown-item" href="@Url.Action("NewSalesOrder","Sales")">Sales Order</a></td>
                                    <td><a class="dropdown-item" href="@Url.Action("PurchaseOrder04","Purchases")">Purchase Order </a></td>
                                    <td><a class="dropdown-item" href="@Url.Action("Product_and_Service","Home")">Product & Service</a></td>
                                </tr>
                                <tr>
                                    <td><a class="dropdown-item" href="@Url.Action("NewSalesInvoice", "Sales")">Sales Invoice</a></td>
                                    <td><a class="dropdown-item" href="@Url.Action("PurchaseOrderHistory", "Purchases")">Vendor Bill </a></td>
                                    <td><a class="dropdown-item" href="@Url.Action("SetUpCustomer", "Sales")">Customer</a></td>
                                </tr>
                                <tr>
                                    <td><a class="dropdown-item" href="@Url.Action("NewCreditNotes", "Sales")">Credit Notes</a></td>
                                    <td><a class="dropdown-item" href="@Url.Action("PurchaseBillPaid", "Purchases")">Vendor Payment </a></td>
                                    <td><a class="dropdown-item" href="@Url.Action("set_up_vendor","Purchases")">Vendor</a></td>
                                </tr>
                                <tr>
                                    <td><a class="dropdown-item" href="@Url.Action("ViewCustomer", "Sales")">Customer Receipt</a></td>
                                    <td><a class="dropdown-item" href="#"> </a></td>
                                    <td><a class="dropdown-item" href="@Url.Action("NewJournal", "Adjustment")">Journal</a></td>
                                </tr>
                            </table>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
